{{!-- Section EDUCATION START --}}
<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">{{Lang.Headings.Education}}</h2>
        {{!-- HEADER --}}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <p>{{Education.JU.Desc}}</p>

        </div>
        {{!-- here goes 'card like' information --}}
        <div class="resume-content">
            <div>
                <a href={{Education.JU.Webpage}}>
                    <img src="{{Education.JU.Img}}" alt="JU - Logo" class="img" style="min-width:100px; height:100px">
                </a>
            </div>
        </div>
        <h3 class="mb-0">{{Education.JU.Title}}</h3>
        <div class="subheading mb-3">{{Education.JU.Degree}}</div>
        <span class="text-primary">{{Education.JU.Timespan}}</span>
        <div class="subheading mb-3">{{Education.JU.TrackName}}</div>
        <div class="subheading mb-3"> <a href="{{Education.JU.DegreeURL}}" target="_blank">{{Education.JU.DegreeDesc}}</a></div>
        <div class="subheading mb-3"> <a href="{{Education.JU.ThesisURL}} " target="_blank">{{Education.JU.ThesisDesc}}</a></div>
    </div>
</section>