{{!-- Section SKILLS START --}}
<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">{{Lang.Headings.Skills}}</h2>
        <p>{{Skills.Desc}}</p>
        <div class="subheading mb-3">{{{Lang.Headings.SkillsSub1}}}</div>
        {{!-- Below is an icon list of languages and tools, you can find them here: https://fontawesome.com/icons?s=brands --}}
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-python"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-android"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-java"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-apple"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-react"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-node-js"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-npm"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-ethereum"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-git-alt"></i>
            </li>
            <li class="list-inline-item">
                <i class="fas fa-database"></i>
            </li>
        </ul>
        <div class="subheading mb-3">{{Lang.Headings.SkillsSub2}}</div>
        <ul class="fa-ul mb-0">
            {{#each Skills.Workflow}}
            <li>
                <i class="fa-li fa fa-check"></i>
               {{{this}}}</li>
            {{/each}}
        </ul>
    </div>
</section>